<!-- begin projects -->
<section class="section projects" id="projects">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">{{ include.title }}</h2>
            <a class="section__link" href="{{ include.link_url }}">View all <i class="ion ion-md-arrow-forward"></i></a>
          </div>
          <div class="section__description">{{ include.description_html }}</div>
        </div>
        <div class="row">
        {% if include.show_projects %}
          {% for project in site.projects %}
            {% if forloop.index <= 6 %} 
              <div class="col col-4 col-d-6 col-t-12">
                {% bookshop project-card project=project %}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- end projects -->